@use "design-system";

.unlock-page {
  max-width: 360px;

  &__brand {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }

  &__brand-title {
    letter-spacing: -0.04em;
    margin-top: 10px;
    margin-bottom: 28px;
  }

  &__brand-logo {
    display: block;
    height: 48px;
    width: 48px;

    &--popup {
      height: 44px;
      width: 44px;
    }
  }

  &__welcome-title {
    margin-bottom: 6px;
  }

  &__welcome-description {
    line-height: 1.5;
  }

  &__submit-button {
    border-radius: 6px;
    box-shadow: none;
  }

  &__container {
    &--light {
      background-color: var(--welcome-bg-light);
    }

    &--dark {
      background-color: var(--color-accent02-dark);
    }
  }


  &__mascot-container {
    position: relative;

    &__beta {
      position: absolute;
      bottom: 10px;
      right: 0;
    }

    &__horizontal-logo {
      margin-bottom: 24px;
      width: 180px;
      height: 180px;

      &--popup {
        margin-bottom: 24px;

        @include design-system.screen-md-max {
          margin-bottom: 0;
        }
      }
    }

    &__logo {
      margin-bottom: 100px;

      @include design-system.screen-md-max {
        margin-bottom: 48px;
      }
    }
  }
}
