@use "design-system";

.error-page {
  display: flex;
  flex-flow: column;
  padding: 16px;
  height: 100%;

  &__inner-wrapper {
    @media screen and (min-width: design-system.$screen-md-min) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__stack {
    max-height: 120px;
    overflow: auto;
    font-family: var(--font-family-default);
    font-weight: var(--typography-l-body-xs-font-weight);
    font-size: var(--typography-l-body-xs-font-size);
  }

  &__link-text {
    color: var(--color-primary-default);
  }
}
